<div class="col s3">
    <div class="card" appHover>
        <div class="card-image">
            <img src="{{user.image}}">
            <span
                    class="card-title"
                    [ngClass]="{'marked': isMarked}"
            >{{user.name | uppercase}}</span>
        </div>
        <div class="card-content">
            <p>{{user.geo}}</p>
        </div>
        <div class="card-action">
            <a
                    (click)="onClick()"
                    class="waves-effect waves-light btn" href="#">This is a link</a>
        </div>
    </div>
</div>
